#portfolio-projects {
  padding: 100px 15px;
}

#portfolio-projects h1 {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 1.5rem;
}

#portfolio-projects .info .screenshots {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
  grid-gap: 10px;
  margin-bottom: 10px;
}

#portfolio-projects .info .screenshot1 {
  width: 100%;
  background: url("../../img/MemoryGame.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#portfolio-projects .info .screenshot2 {
  width: 100%;
  background: url("../../img/SS.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#portfolio-projects .info .buttons {
  padding: 20px 0;
}

#portfolio-projects .info .buttons a {
  display: inline-block;
  padding: 10px 20px;
  background: #1f1f1f;
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio-projects .info .buttons a:hover {
  background: #ff5253;
  cursor: pointer;
}

#portfolio-projects .info .buttons .fas {
  padding: 0 5px;
}

#portfolio-projects p {
  color: #929294;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

#portfolio-projects ul {
  margin-bottom: 1.5rem;
}

#portfolio-projects ul li {
  padding: 5px 5px;
  font-size: 1.1rem;
}

#portfolio-projects .technologies h3 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#portfolio-projects .technologies .tech-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px;
  align-items: center;
  justify-items: center;
}

#portfolio-projects .technologies .tech-icons .tech-icon i {
  font-size: 5rem;
  justify-self: center;
}

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

/* Phones */
@media only screen and (max-width: 767px) {
  #portfolio-projects .technologies .tech-icons .tech-icon i {
    font-size: 3rem;
    justify-self: center;
  }

  #portfolio-projects .info .buttons a {
    margin: 5px 0;
  }
}
